NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_ETHERSCAN_URL=https://sepolia.etherscan.io
NEXT_PUBLIC_RPC_URL=https://rpc.sepolia.org
